selenium==4.18.1
webdriver-manager==4.0.1
beautifulsoup4==4.12.3
requests==2.31.0
flask==3.0.2
flask-login==0.6.3
gunicorn==21.2.0
pycryptodome==3.20.0
pandas==2.2.1
openpyxl==3.1.2
python-dotenv==1.0.1
Flask-WTF==1.2.1
waitress==3.0.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.29
pywebview==4.4.1
pyinstaller==6.4.0
